@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default spacing */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* FULL SCREEN BACKGROUND IMAGE */
.bg-romantic {
  background-image: url("/gingham-love.jpg");
  background-size: cover;       /* fill entire screen */
  background-position: center;  /* center image */
  background-repeat: no-repeat; /* no repeating */
  background-attachment: fixed; /* stays fixed */
  min-height: 100vh;
}
.glow-text {
  text-shadow:
    0 0 5px rgba(11, 11, 11, 0.8),
    0 0 10px rgba(179, 39, 39, 0.4),
    0 0 20px rgba(179, 39, 39, 0.4);
}
/* Soft glow for buttons */
.glow-button {
  box-shadow: 0 0 15px rgba(179, 39, 39, 0.4),
              0 0 30px rgba(179, 39, 39, 0.4);
}
